@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-a: #ffffc2;
    --color-b: #e1dcc5;
    --color-c: sandybrown;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: var(--color-a);
}

header {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: var(--color-b);
}

#logo-wrapper {
    display: flex;
    flex-direction: row;
}

#logo-wrapper .img-container {
    height: 2.5em;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.btn-normal {
    background-color: var(--color-c);
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    color: #fff;
}

.btn-normal:hover {
    opacity: 0.7;
}

header h2 {
    font-size: 1.25rem;
}

#library {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

#library .img-container {
    background-color: #fefefe;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
}

#library .img-container:hover {
    opacity: 0.5;
}

.bottom-bar {
    display: flex;
    flex-direction: row;
    background-color: var(--color-b);
    background-position: center;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.data-bar {
    width: 75%;
}

.book-name-display {
    font-size: 1.2rem;
    font-weight: 500;
}

.book-author-display {
    font-style: italic;
}

.book-year-display {
    font-size: 0.8rem;
}

.btn-delete {
    align-self: center;
    padding: 5px 10px;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: 500;
}

.btn-delete:hover {
    opacity: 0.7;
}

.status-elem {
    align-self: center;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: sandybrown;
    font-size: 0.5rem;
    font-weight: 500;
}

.status-elem {
    
}

.empty-div {
    padding: 10px;
    font-weight: 500;
    font-size: 1.25rem;
    color: red;
}

.dialog-box {
    padding: 1em;
    gap: 10px;
    background-color: var(--color-b);
}

.dialog-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.dialog-form label {
    font-weight: 500;
}

.dialog-box .btn-normal {
    background-color: var(--color-c);
    color: #fff;
    font-weight: 500;
}

.dialog-form .btn-normal {
    margin-top: 5px;
}

#dialog-add-book {
    z-index: 2;
}